<!-- 
                  ,--.    ,--.
                 ((O ))--((O ))
               ,'_`--'____`--'_`.
              _:  ____________  :_
             | | ||::::::::::|| | |
             | | ||::::::::::|| | |
             | | ||::::::::::|| | |
             |_| |/__________\| |_|
               |________________|
            __..-'            `-..__
         .-| : .----------------. : |-.
       ,\ || | |\______________/| | || /.
      /`.\:| | ||  __  __  __  || | |;/,'\
     :`-._\;.| || '--''--''--' || |,:/_.-':
     |    :  | || .----------. || |  :    |
     |    |  | || '----IPA---' || |  |    |
     |    |  | ||   _   _   _  || |  |    |
     :,--.;  | ||  (_) (_) (_) || |  :,--.;
     (`-'|)  | ||______________|| |  (|`-')
      `--'   | |/______________\| |   `--'
             |____________________|
              `.________________,'
               (_______)(_______)
               (_______)(_______)
               (_______)(_______)
               (_______)(_______)
              |        ||        |
              '--------''--------'
-->
<!DOCTYPE html>
<html>

<head>  <!--/ Responsive   /-->   
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <!-- My CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">

        <title>Robot</title>
</head>

<body class="myBackground">
        <!-- aca haccemos la linea blanca del principio//-->
        <div class="row text-center">
                <div class="col-12">
                        <hr style="color: white">
                </div>
        </div>
        <!--/ Primera Row /-->
        <div class="row">
                <div class="col-12 col-md-3">

                </div>
                <div class="col-12 col-md-6 text-center">
                        <h1 style="color: white; background-color: rgb(177, 222, 228, 0.3);">Hola, soy Alfred ¿En que puedo ayudarte?</h1>
                </div>
                <div class="col-12 col-md-3">

                </div>
        </div>
        <!--/Segunda Row/-->
        <div class="row">
                <div class="col-12 col-md-3">

                </div>
                <div class="col-12 col-md-6 sideElement">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalenvio">Hacer envio</button>
                        <!--/ Modal para el envio en el final del codigo   /-->
                </div>
                <div class="col-12 col-md-3">

                </div>
        </div>
        <!--/Tercer Row/-->
        <div class="row">
                <div class="col-12 col-md-3">

                </div>
                <div class="col-12 col-md-6 sideElement">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalpedido">Hacer pedido</button>
                        <!--/ Modal para el pedido en el final del codigo   /-->
                </div>
                <div class="col-12 col-md-3">

                </div>
        </div>
        <!--/Cuarta Row/-->
        <div class="row">
                <div class="col-12 col-md-3">

                </div>
                <div class="col-12 col-md-6 sideElement">

                </div>
                <div class="col-12 col-md-3">

                </div>
        </div>
        <!--/Quinta Row/-->
        <div class="row">
                <div class="col-12 col-md-3">

                </div>
                <div class="col-12 col-md-6">

                </div>

                <div class="col-12 col-md-3">
                        <div class="row">
                                <div class="col-12 col-md-12 ivan123">
                                        <div class="row">
                                                <div class="col-6 col-md-6 ivan123 text-center">
                                                        <h2>Estado: </h2>
                                                </div>
                                                <div class="col-6 col-md-6 ivan123 text-center">
                                                        <h2>OK</h2>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12 col-md-12 ivan123">
                                        <div class="row">
                                                <div class="col-6 col-md-6 ivan123 text-center">
                                                        <h2>Bateria: </h2>
                                                </div>
                                                <div class="col-6 col-md-6 ivan123 text-center">
                                                        <div class="progress" style="height: 40px;">
                                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:75%" aria-valuenow="75"
                                                                        aria-valuemin="0" aria-valuemax="100">75%</div>
                                                        </div>
                                                </div>
                                        </div>

                                </div>
                        </div>
                </div>
        </div>

        <!-- Modal envio -->
        <div class="modal fade" id="modalenvio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                        <div style="background-color: rgba(0, 141, 225)" class="modal-content">
                                <div style="background-color: rgba(0, 141, 225)" class="modal-header">
                                        <h5 style="color:whitesmoke" class="modal-title" id="exampleModalLabel">Envio en curso</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                        <select class="custom-select" style="color:whitesmoke; background-color:rgba(255, 140, 0)">
                                                <option selected>---¿A donde voy?---</option>
                                                <option> Direccion</option>
                                                <option> Aula 1 </option>
                                                <option> A la concha de tu madre </option>
                                        </select>
                                        <select class="custom-select" style="color:whitesmoke; background-color:rgba(255, 140, 0)">
                                                <option selected> ---¿A donde lo llevo?---</option>
                                                <option> A la concha de tu madre </option>
                                                <option> lol </option>
                                        </select>
                                </div>
                                <div class="modal-footer">
                                        <button style="color:whitesmoke ; background-color: rgba(245, 0, 87)" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button style="color:whitesmoke ; background-color: rgba(125, 247, 0)" type="button" id="ivanestaloco" class="btn btn-secondary">Hacer Envio</button>
                                </div>
                        </div>
                </div>
        </div>

        <!-- Modal pedido -->
        <div class="modal fade" id="modalpedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                        <div style="background-color: rgba(0, 141, 225)" class="modal-content">
                                <div style="background-color: rgba(0, 141, 225)" class="modal-header">
                                        <h5 style="color:whitesmoke" class="modal-title" id="exampleModalLabel">Pedido en curso</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                        <div class="dropdown">
                                                <select class="custom-select" style="color:whitesmoke; background-color:rgba(255, 140, 0)">
                                                        <option selected>---¿A donde voy?---</option>
                                                        <option> Direccion</option>
                                                        <option> Aula 1 </option>
                                                        <option> A la concha de tu madre </option>
                                                </select>
                                                <select class="custom-select" style="color:whitesmoke; background-color:rgba(255, 140, 0)">
                                                        <option selected> ---¿Que llevo?---</option>
                                                        <option> Esta </option>
                                                        <option> lol </option>
                                                </select>
                                        </div>
                                        <div class="modal-footer">
                                                <button style="color:whitesmoke ; background-color: rgba(245, 0, 87)" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button style="color:whitesmoke ; background-color: rgba(125, 247, 0)" type="button" id="ivanestaloco" class="btn btn-secondary">Hacer pedido</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <!-- jQuery library -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <!-- Popper JS -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <!-- Latest compiled JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!--JavaScript propio -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>



</body>

</html>