
<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
<!-- My CSS -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/manual.css') }}">

<title>Robot</title>
</head>
<body class="myBackground">

        <div class="row">
                <div class="col-sm-12">
                        <button id="configuracion" class="imgbutton"><span></span></button>
                        <hr style="color: white">
                </div>
        </div>
        <div class="row">
                <div class="col-sm-3  text-center sideContainer" style="height: 100%;">
                    
                </div>
                <div class="col-sm-6 text-center" >
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button id="adelante" class="imgbutton"><span></span></button>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-6 text-center">
                                    <button id="izquierda" class="imgbutton"><span></span></button>
                                </div>
                            

                            
                                <div class="col-sm-6 text-center">
                                    <button id="derecha" class="imgbutton"><span></span></button>
                                </div>
                            </div>
                        
                        
                        <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button id="atras" class="imgbutton"><span></span></button>
                                </div>
                            </div>
                </div>

                <div class="col-sm-3  text-center sideContainer" style="height: 100%;">
                        
                </div>
        </div>

        
        


<!-- jQuery library -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- Popper JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<!-- Latest compiled JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script>
		
$(function(){
var isTouchDevice = "ontouchstart" in document.documentElement ? true : false;
var BUTTON_DOWN   = isTouchDevice ? "touchstart" : "mousedown";
var BUTTON_UP     = isTouchDevice ? "touchend"   : "mouseup";
var MOUSE_LEAVE   = "mouseleave";

$("button").bind(BUTTON_DOWN,function(){
        $.post("/control",
        {boton: this.id},
        function(data,status){
          });
        });

        $("button").bind(BUTTON_UP,function(){
        $.post("/control",
        {boton: "alto"},
        function(data,status){
          });
        });

        $("button").bind(MOUSE_LEAVE,function(){
        $.post("/control",
        {boton: "alto"},
        function(data,status){
          });
        });
        
});


		
    </script>
</body>
</html>