<!DOCTYPE html>
<html>

<head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <!-- My CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/robot.css') }}">

        <title>Robot</title>
</head>

<body>
        <div id="ojos" class="ojos" onclick="cambiarPantalla()">

        </div>
        <div id="fondo" class="fondo" hidden="true">
                <div class="row">
                        <div class="col-sm-12  text-center">
                                <h1 class="titulo">Alfred, a tu servicio</h1>
                        </div>
                </div>
                <div class="row">
                        <div class="col-sm-12  text-center">
                                <button id="adelante" class="btn btn-primary" onclick="botonAbrir()">ABRIR</button>
                        </div>
                </div>
                
        </div>

        <div id="cerrar" class="fondo" hidden="true">
                <div class="row">
                        <div class="col-sm-12  text-center">
                                <h1 class="titulo">Feliz de ayudar</h1>
                        </div>
                </div>
                <div class="row">
                        <div class="col-sm-12  text-center">
                                <button id="adelante" class="btn btn-primary" onclick="botonCerrar()">CERRAR</button>
                        </div>
                </div>
                
        </div>

        <div id="mas" class="fondo" hidden="true">
                <div class="row">
                        <div class="col-sm-12  text-center">
                                <h1 class="titulo">Solicita algo mas?</h1>
                        </div>
                </div>
                <div class="row">
                        <div class="col-sm-6  text-center">
                                <button id="adelante" class="btn btn-primary" onclick="botonSi()">SI</button>
                        </div>

                        <div class="col-sm-6  text-center">
                                <button id="adelante" class="btn btn-primary" onclick="botonNo()">NO</button>
                        </div>
                </div>
                
        </div>







        <!-- jQuery library -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <!-- Popper JS -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <!-- Latest compiled JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- propio JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/robot.js') }}"></script>

</body>

</html>